@charset "UTF-8";

/*@import url('https://fonts.googleapis.com/css2?family=Saira:wdth,wght@100,500&display=swap');*/
@import
	url('https://fonts.googleapis.com/css2?family=Dosis&family=Exo+2&family=IBM+Plex+Sans&family=Monda&family=Saira:wdth,wght@125,500&display=swap')
	;

:root {
	font-family: "Monda", "IBM Plex Sans", "Saira", "Exo 2", "Dosis",
		sans-serif;
	background-color: #333;
	color: #DDD;
	padding:1em 3em;
}

.client-info-container {
	width: 600px;
}

.data-header {
	display: inline-block;
	font-weight: bold;
	color: orange;
	font-weight: bold;
	min-width: 80px;
}

.data-value {
	color: yellow;
}

table {
	border-collapse: collapse;
	border: none;
	min-width:30vw;
}

th, td {
	border: none;
	border-bottom: 1px solid smokewhite;
	border-radius: 0.1em;
	vertical-align: middle;
}

th {
	text-align: left;
	background-color: orangered;
	color: whitesmoke;
	padding: 0.5rem;
}

td, td > a {
	text-align: left;
	color: orange;
	padding: 0.3rem;
}

td > a {
	text-decoration: none;
}

td:hover > a{
	text-decoration: underline yellow dotted 1px;
	text-underline-offset:0.4em;
}

tr:hover > td {
	color:yellow;
	background-color: dodgerblue;
	font-weight:bold;
}
