<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:body>
	<h:form>
        numClient:
        <h:inputText value="#{compteBean.numClient}" />
		<br />
		<h:commandButton action="#{compteBean.doLogin}" value="Login" />
	</h:form>

	<h:dataTable value="#{compteBean.comptes}" var="c">
		<h:column>
			<h:outputText value="#{c.numero}"></h:outputText>
		</h:column>
		<h:column>
			<h:outputText value="#{c.label}"></h:outputText>
		</h:column>
		<h:column>
			<h:outputText value="#{c.solde}"></h:outputText>
		</h:column>
	</h:dataTable>
	
	<a href="index.html">Go to Index</a>
</h:body>

</html>