<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
	<h1>Appli Spring Boot</h1>
	<a href="comptes.xhtml">Comptes du client via JSF</a>
	<br />
	<a href="versLogin">Comptes du client via Spring MVC</a>
	<br />
	<a href="helloWorld">Hello World via Spring MVC</a>
	<br />
	<a href="./bank-api/client/1">API Client 1</a>
	<br />
	<a href="./bank-api/client">tous les clients en JSON (REST)</a>
	<br />
	<a href="./bank-api/client?nom=client">tous les clients en JSON
		nommés Client(REST)</a>
	<br />


	<a href="./bank-api/compte/1">API Compte 1</a>
	<br />
	<a href="./bank-api/compte/ex/1">API étendue Compte 1</a>
	<br />
	<a href="./bank-api/compte">tous les comptes en JSON (REST)</a>
	<br />
	<a href="./bank-api/compte?numClient=1">tous les comptes pour un
		numero client en JSON (REST)</a>
	<br />
	<a href="./bank-api/compte?soldeMini=300">tous les comptes avec
		solde &gt; 300 en JSON (REST)</a>
	<br />
	<a href="./bank-api/compte?numClient=1&soldeMini=300">tous les
		comptes du client 1 avec solde &gt; 300 en JSON (REST)</a>
	<br />
	<a href="rest.html">REST static</a>
	<br />
	<a href="clients.html">Clients static</a>
	<br />
</h:body>

</html>